@font-face {
	font-family: Kano;
	src: url('fonts/Kano.otf');
}

* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Kano;
}


body {
	touch-action: none;
}

#world {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: linear-gradient(#0f153c, #12499c);
	background: linear-gradient(#160419, #220048);
}

h1 {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 10;

	color: #eeeeee33;
	text-transform: uppercase;
	padding: 30px;
	font-size: 50px;
	letter-spacing: 0.1em;
	display: none;
}

#map, #menu {
	position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
	bottom: 0px;
	padding: 0px;
	overflow: hidden;
}

#map > div {
	transform: translate(100px, 200px);
	width: 0px;
	height: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.point {
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid rgba(238, 238, 238, 0.3);
	margin: 0;
	background-color: #ffffff38;
	background-color: #4a3b4f;
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center;
	background-color: #22004896;
	background-color: #401c74;
	/* background-color: #E91E63; */
}

#mapCenter .point {
	background-size: 60%;
	/* background-position: 40% 60%; */
	background-image: url(images/orbit.svg);
}

#mapRace .point {
	background-size: 50%;
	background-image: url(images/finish.svg);
}

#mapGame .point {
	background-size: 52%;
	background-image: url(images/gamepad.svg);
}

#mapWork .point {
	background-size: 50%;
	background-position: 50% 45%;
	background-image: url(images/work.svg);
}

#mapSchool .point {
	background-size: 50%;
	background-position: 53% 50%;
	background-image: url(images/graduate.svg);
}

/* PORTAL (MENU) */
#menu {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s, visibility 0.3s;
}


#portal {
	position: absolute;
	width: 50px;
	height: 50px;
	top: 10px;
	left: calc(50% - 20px);
	z-index: 20;
	cursor: pointer;
}

#portal .portalIcon {
	width: 100%;
	height: 100%;
	border: 2px solid rgba(238, 238, 238, 0.3);
	border-radius: 30%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40%;
	background-image: url(images/location.svg);
	background-color: #22004896;
	/* background-color: #401c74; */
	opacity: 0.9;
}

#links {
	padding-top: 50px;
	background-color: #220048;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: linear-gradient(#160419, #220048);
}

#links .link{
	color: #eee;
	font-size: 4vh;
	/* background-color: blueviolet; */
	padding: 3vh;
	cursor: pointer;
}

#links .link:hover {
	color: #E91E63;
}

#links .line {
	width: 60px;
	height: 1px;
	background-color: #eee;
	opacity: 0.3;
}




/* CONTROLS */

#controls, #UI {
	position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
	bottom: 0px;
	overflow: hidden;
	/* display: none; */
}

.button {
	width: 100px;
	height: 100px;
	position: absolute;
	bottom: 0px;
	padding: 20px;
	/* background-color: #E91E63; */
	/* border: 1px solid white; */
}

.button > div {
	background-repeat: no-repeat;
	background-size: 40%;
	background-position: center;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	border: 2px solid rgba(238, 238, 238, 0.2);
	border-radius: 20%;
}

#leftButton {
	width: 90px;
	padding-left: 5px;
	padding-right: 25px;
	left: 0px;	
	transform: rotate(180deg);
}
#leftButton > div {
	background-position: 55%;
	background-image: url(images/play.svg);
}

#rightButton {
	width: 90px;
	padding-left: 5px;
	padding-right: 25px;
	left: 90px;
}
#rightButton > div {
	background-position: 55%;
	background-image: url(images/play.svg);
}

#engineButton {
	height: 90px;
	/* padding-left: 5px; */
	/* padding-right: 15px; */
	padding-top: 5px;
	padding-bottom: 25px;
	right: 0px;
}
#engineButton > div {
	background-position: 55%;
	background-image: url(images/play.svg);
	transform: rotate(270deg);
}

#turboButton {
	padding-top: 25px;
	padding-bottom: 5px;
	height: 90px;
	right: 0px;
	bottom: 90px;
	/* display: none; */
}
#turboButton > div {
	background-size: 45%;
	background-image: url(images/flash.svg);
	/* opacity: 1; */
	/* background-position: 30%, 75%; */
	/* transform: rotate(270deg); */
	/* background-image: url(images/burn-solid.svg); */
}

/* GAME */
#gameRace {
	position: absolute;
	padding: 20px;
	padding-top: 80px;
	right: 0px;
	left: 0;
	height: 199px;
	/* background-color: thistle; */
	color: #eee;
	font-size: 40px;
	text-align: center;
	font-weight: bold;
}

#gameRace div {
	padding-bottom: 10px;
}

#gameRace .number, #gameOver {
	font-family: Roboto;
	color: yellow;
}

#gameOver {
	color: #eee;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	font-size: 70;
	letter-spacing: 0.05em;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
}

#gameOver span {
	color: yellow;
	font-family: Roboto;
	font-weight: bold;
	font-size: 100px;
}

.hide {
	display: none !important;
}

/* UNITY GAMES */


/* MOBILE */
@media screen and (min-width: 800px) {
	#controls {
		display: none;
	}
}