@font-face {
	font-family: Kano;
	src: url('fonts/Kano.otf');
}

* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Kano;
}


body {
	touch-action: none;
}

#world {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: linear-gradient(#0f153c, #12499c);
	background: linear-gradient(#160419, #220048);
}

h1 {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 10;

	color: #eeeeee33;
	text-transform: uppercase;
	padding: 30px;
	font-size: 50px;
	letter-spacing: 0.1em;
	/* display: none; */
	opacity: 0;
}

#map {
	position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
	bottom: 0px;
	padding: 1px;
	overflow: hidden;
}

#map > div {
	transform: translate(100px, 200px);
	width: 2px;
	height: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.point {
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 3px solid #eee;
	margin: 0;
	background-color: #ffffff38;
	/* background-color: #4a3b4f; */
	background-repeat: no-repeat;
	background-size: 60%;
	background-position: center;
}

#mapCenter .point {
	background-size: 70%;
	/* background-position: 40% 60%; */
	background-image: url(images/orbit.svg);
}

#mapGame .point {
	background-size: 70%;
	background-image: url(images/gamepad.svg);
}

/* CONTROLS */

#controls, #UI {
	position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
	bottom: 0px;
	overflow: hidden;
}

.button {
	width: 100px;
	height: 100px;
	opacity: 0.7;
	position: absolute;
	padding: 10px;
	bottom: 10px;
}

#leftButton {
	left: 10px;	
}
#leftButton > div {
	background-position: 45%;
	background-image: url(images/caret-left-solid.svg);
}

#rightButton {
	left: 110px;
}
#rightButton > div {
	background-position: 55%;
	background-image: url(images/caret-right-solid.svg);
}

#engineButton {
	right: 10px;
}
#engineButton > div {
	background-size: 41%;
	background-image: url(images/up.svg);
}

#turboButton {
	right: 10px;
	bottom: 110px;
}
#turboButton > div {
	background-size: 41%;
	background-image: url(images/burn-solid.svg);
}

.button > div {
	background-repeat: no-repeat;
	background-size: 30%;
	background-position: center;
	width: 100%;
	height: 100%;
	border: 2px solid #eee;
}

/* GAME */
#gameRace {
	position: absolute;
	padding: 20px;
	right: 0px;
	left: 0;
	height: 199px;
	/* background-color: thistle; */
	color: #eee;
	font-size: 40px;
	text-align: center;
	font-weight: bold;
}

#gameRace div {
	padding-bottom: 10px;
}

#gameRace .number, #gameOver {
	font-family: Roboto;
	color: yellow;
}

#gameOver {
	color: #eee;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	font-size: 70;
	letter-spacing: 0.05em;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
}

#gameOver span {
	color: yellow;
	font-family: Roboto;
	font-weight: bold;
	font-size: 100px;
}

.hide {
	display: none !important;
}

/* MOBILE */
@media screen and (min-width: 800px) {
	#controls {
		display: none;
	}
}